[Unit]
Description=Conntrack Daemon

[Service]
Type=notify
EnvironmentFile=-/usr/share/conntrackd/environmentfile
EnvironmentFile=-/etc/default/conntrackd
#ExecStartPre=-/bin/rm -f /var/lock/conntrackd.lock
ExecStart=/usr/sbin/conntrackd -C "$CONFIG" $OPTIONS
ProtectSystem=full
ProtectHome=true
#WatchdogSec=60

[Install]
WantedBy=multi-user.target

